# Files
.gitignore          export-ignore
.gitattributes      export-ignore

.pylintrc           export-ignore
.python-version     export-ignore

*.lock              export-ignore

requirements.txt    export-ignore

.coverage*          export-ignore
coverage*           export-ignore

# Directories
.github             export-ignore
.githooks           export-ignore
.vscode             export-ignore
tests               export-ignore
scripts             export-ignore

# Source files
*                   text=auto
*.py                text diff=python
